<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.nikonsale.monitor</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/steve/Desktop/Project/NikonSale/run_monitor.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>15</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/steve/Desktop/Project/NikonSale/monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/steve/Desktop/Project/NikonSale/monitor.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/steve/Desktop/Project/NikonSale</string>
  </dict>
</plist>
